<p>------------------------------------------------------------------------<br>
    <br>
    Using the script:<br>
    <br>
        Highlight a code and copy it to clipboard (ctrl + c).<br>
        If it is Python code press (p+e).<br>
        If it is C code press (c+e).<br>
        Open server with URL with a device connected to the same network.<br>
        Press (d+e) to delete cache and temp files. (Also clears the screen)<br>
        <br>
    ------------------------------------------------------------------------</p>